
<h1>New Contact</h1>
<%= form_tag "/contacts", method: :post do %>
  <div>
    Fist Name: <input type="text" name="first_name">
  </div>
  <div>
     Last name: <input type="text" name="last_name">
  </div>
  <div>
    Email: <input type="text" name="email">
  </div>
  <div>
  Phone number: <input type="text" name="phone_number">
  </div>
  <div>
    <input type="submit" name="create contact">
  </div>
<%end%>